@import 'table';
@import 'variaveis';

:host{
    display: flex;
    justify-content: space-between;

    ::-webkit-scrollbar {
        width: 7px;
    
        &-thumb {
          background-color: rgba($cor-primaria, .2);
          border-radius: 10px;
        }
    
        &-track {
          background: transparent;
        }
      }

    .painel-direito{
        height: 100vh;  
    }

    .lista{
        padding: 0px 50px;
        width: 100%;
        height: 100vh;
        padding-bottom: 20px;
        max-height: 100%;
        overflow-y: scroll;
    }
}