$cor-fundo: #FCF3E3;
$cor-primaria: #1FD660;
$cor-fundo2: #fff;

$preto-transparent-30: #0000004D;
$preto-transparent-20: #00000030;
$preto-transparent-03: #00000008;
$preto-transparent-70: #000000b3;

$branco: $cor-fundo2;