$cor-fundo: #121212;
$cor-primaria: #1FD660;
$cor-fundo2: #222222;

$branco-transparent-30: #ffffff4d;
$branco-transparent-20: #ffffff30;
$branco-transparent-03: #ffffff08;
$branco-transparent-70: #ffffffb3;

$preto-transparent-30: #0000004D;
$preto-transparent-20: #00000030;
$preto-transparent-03: #00000008;
$preto-transparent-70: #000000b3;

$branco: #fff;
$preto: #000;